<div class="widget am-cf">
  <div class="widget-head am-cf">
    <div class="widget-title am-cf am-text-warning"><%= @user.new_record?? :新建用户 : :编辑用户%>
    </div>
  </div>

  <div class="widget-body am-fr hs-widget-body-lg">
    <div class="am-g tpl-amazeui-form">
      <%= form_for(@user,html: {class: :'am-form am-form-horizontal', autocomplete: :off}) do |f| %>
        <input type="hidden" id="edit-user-id" value="<%= @user.id %>" >
        <div class="am-form-group">
          <%= f.label :phone,:登陆帐号,class: :'am-u-sm-2 am-form-label' %>
          <div class="am-u-sm-4 am-u-end">
            <%= f.text_field :phone, value: @user.phone,required: true %>
          </div>
        </div>

        <% if @user.new_record? %>
          <div class="am-form-group">
            <%= f.label :password,:登陆密码,class: :'am-u-sm-2 am-form-label auto-com' %>
            <div class="am-u-sm-4 am-u-end">
              <%= f.password_field :password, value: @user.password,required: true  %>
            </div>
          </div>
        <% end %>

        <div class="am-form-group">
          <%= link_to :取消,:users,class: :'am-u-sm-1  am-u-sm-offset-3 am-btn am-btn-default' %>
          <%= f.submit :确定, class: "am-btn am-btn-primary am-u-sm-1 am-u-end" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
